@charset "utf-8";
body {
	color: #10187B;
	width: 800px;
	margin-top: 2px;
	margin-right: auto;
	margin-bottom: 2px;
	margin-left: auto;
	font-size: 100%;
	font-family:'ヒラギノ丸ゴ Pro W3','Hiragino Maru Gothic Pro','メイリオ','ＭＳ Ｐゴシック', 'Osaka';
	background: #FFFFFF;
}

h1 { 
	color: #10187B;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	font-size: 220%;
	font-weight: bold;
	text-align: left;
}

h2 {  
	color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 110%;
	font-weight: bold;
	text-align: left;
	background:#10187B;
}

h3 { 
	color: #000000;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	font-size: 100%;
	font-weight: bold;
	text-align: left;
}

.menu {
	text-align: center;
	font-size: 110%;
	list-style-type:none;
	margin: 0 ;
	padding: 0 ;
}

.menu li {
	text-align: center;
	list-style: none;
	display: inline-block;
	width: 15%;
	min-width: 90px;
}

.menu li a {
	text-decoration: none;
	color: #10187B;
}

.menu li.current a {
	color: #cccccc;
}

.menu li a:hover {
	color: #6666FF;	
}

.menu > li > ul {
	display: none;
}

.menu > li:hover ul {
	display: block;
	position: absolute;
	list-style-type: one;
}

.menu li li{
	overflow: hidden;
	text-align: left;
	width: 100%
}


p {
	margin-left: 20px;
}

ol {
	margin-left: 5px;
}

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	color: #6666FF;
}

a:hover {
	text-decoration: underline;
	color: #6666FF;
}

now {
	margin-left: 20px;
}

old {
	color: #cccccc;
	margin-left: 20px;
}

year {
	color: #000000;
	font-size: 110%;
	font-weight: bold;
}

year0 {
	color: #cccccc;
	font-size: 110%;
	font-weight: bold;
}
