@charset "utf-8";
body {
	color: #10187B;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	font-size: 90%;
	font-family:'ヒラギノ丸ゴ Pro W3','Hiragino Maru Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	background: #FFFFFF;
	text-align: center;
}

h1 { 
	color: #10187B;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 160%;
	font-weight: bold;
}

h2 {  
	color: #10187B;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 135%;
	font-weight: bold;
}

h3 {  
	color: #10187B;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 125%;
	font-weight: bold;
}

h4 {  
	color: #10187B;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 119%;
	font-weight: bold;
}

h5 {  
	color: #10187B;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 110%;
	font-weight: bold;
}

h6 {  
	color: #10187B;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 90%;
	font-weight: bold;
}

hmenu1 {
}

.hmenu1-plain {
	  
	font-size: 90%;
	color: #FFFFFF;
	padding-right: 13px;
	padding-left: 13px;
}

.hmenu1-link0:link {
	  
	color: #FFFFFF;
	text-decoration: none;
}

.hmenu1-link0:visited {
	  
	color: #FFFFFF;
	text-decoration: none;
}

now {
	font-size: 90%;
}

year {
	color: #000000;
	font-size: 110%;
	font-weight: bold;
}

old {
	color: #cccccc;
	font-size: 90%;
}

year0 {
	color: #cccccc;
	font-size: 110%;
	font-weight: bold;
}

address {
	color: #9b9b9b;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}

a{
  padding: 0 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
}

nav {
	text-align: center;
}
nav ul {
	margin: 0 ;
	padding: 0 ;
}
nav ul li {
	list-style: none;
	display: inline-block;
	width: 10%;
	min-width: 90px;
}
nav ul li a {
	text-decoration: none;
	color: #10187B;
}
nav ul li.current a {
	color: #F33135;
}
nav ul li a:hover {
	color: #E7DA66;
}
